<ngx-skeleton-loader
  animation="pulse"
  count="1"
  [theme]="{
    height: '50vh',
    'background-color': '#cccece'
  }">
</ngx-skeleton-loader>
<ngx-skeleton-loader
  animation="pulse"
  count="1"
  [theme]="{
    height: '30px',
    width: '80%',
    'background-color': '#cccece'
  }">
</ngx-skeleton-loader>
<ngx-skeleton-loader
  animation="pulse"
  count="1"
  [theme]="{
    height: '30px',
    width: '50%',
    'background-color': '#cccece'
  }">
</ngx-skeleton-loader>
<ngx-skeleton-loader
  style="display: flex;
         flex-direction: row;
         gap: 0.5vw;
    justify-content: center;"
  animation="pulse"
  count="2"

  [theme]="{
      'width': '10vh',
    'height': '30px',
    'background-color': '#cccece' }">
</ngx-skeleton-loader>
