.header-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0 7%;

  .logo1,
  .logo2 {
    cursor: pointer;
    position: relative;
  }

  .header-logo2,
  .logo2 {
    display: none;
  }

  &.white-background {
    background: #ffffff;

    .header-logo2,
    .logo2 {
      display: inline-block;
    }

    .header-logo1,
    .logo1 {
      display: none;
    }
  }

  .header-logo {
    width: 125px;
    height: 35px;
    margin-top: 1.2rem;
  }

  img {
    display: block;
  }

  &__links-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .header-container__links-profile-menu {
    width: 50%;
    max-width: 600px;
  }
}


