<header class="header-container" [ngClass]="{'white-background': onScroll()}">
  <a href="/" class="header-first-logo"><img class="header-logo header-logo1" alt="profile logo" src="../../../../assets/logos/logo-white.png"></a>
  <a href="/" class="header-second-logo"><img class="header-logo header-logo2" alt="profile logo" src="../../../../assets/logos/logo-tamra.png"></a>
  <div class="header-container__links-profile">
    <div class="header-container__links-profile-menu">
      <ng-content></ng-content>
    </div>
  </div>
</header>


