<div class="top-destinations-container">
  <h1 class="top-destinations-text">Top destinations.</h1>
  <p class="top-destinations-subtext">Choose from thousands of cars in South Korea.</p>

  <div class="top-destinations">
    <div class="destination">
      <div class="destination-img">
        <div class="seoul-img img"></div>
      </div>
      <div class="learn-more" (click)="openDialog()">
        <p>Seoul <i class="arrow-right"></i></p>
      </div>
    </div>
    <div class="destination">
      <div class="destination-img">
        <div class="jeju-img img"></div>
      </div>
      <div class="learn-more">
        <p>Jeju Island <i class="arrow-right"></i></p>
      </div>
    </div>
    <div class="destination">
      <div class="destination-img">
        <div class="gwangju-img img"></div>
      </div>
      <div class="learn-more">
        <p>Gwangju <i class="arrow-right"></i></p>
      </div>
    </div>
  </div>
</div>
