<div class="booked-trip-container">
    <div class="booked-trip-banner">
        <div class="booked-trip-banner-text">
            <h1>Booked trip</h1>
        </div>
        <div class="booked-car-trip-details">
            <div class="booked-trip-image-container">
                <div class="booked-trip-image">
                    <img alt="car" src="../../../assets/logos/logo-tamra.png">
                </div>
            </div>
            <h1>Chevy Malibu 2017<p class="view-car-details">View car details <span class="arrow-down"></span></p></h1>
        </div>
    </div>

    <div class="booked-trip-details-content">
        <div class="dots-img"><img alt="dots" src="../../../assets/images/orange-dots.png"></div>
        <div class="booked-trip-details">
            <div class="trip-details">
                <div class="trip-details-right trip-details-right-mobile">
                    <p class="grey-text">RESERVATION ID</p>
                    <h1 class="reservation-id"># 7379382</h1>
                </div>

                <div class="trip-details-left">
                    <p class="grey-text">TRIP DETAILS</p>
                    <div class="trip-duration">
                        <div class="trip-start">
                            <p>Trip start</p>
                            <p>Sun, Oct 4</p>
                            <p>10:00 AM</p>
                        </div>
                        <img alr="arrow" src="../../../assets/icons/arrow-right.png">
                        <div class="trip-end">
                            <p>Trip end</p>
                            <p>Wen, Oct 7</p>
                            <p>11:00 AM</p>
                        </div>
                    </div>
                </div>

                <div class="trip-details-right trip-details-right-desktop">
                    <p class="grey-text">RESERVATION ID</p>
                    <h1 class="reservation-id"># 7379382</h1>
                </div>
            </div>

            <div class="trip-location">
                <div class="trip-location-left">
                    <p class="black-text">Location</p>
                    <div class="trip-location-left-content">
                        <div><img alt="location icon" src="../../../assets/icons/location.png"></div>
                        <div>
                            <p>Pickup location</p>
                            <p>5 Gonghang-ro, Yongdam 2 Dong Jeju-si Cheju, Jeju-do</p>
                            <p>690-042 South Korea</p>
                        </div>
                    </div>

                    <div class="trip-location-left-content">
                        <div><img alt="location icon" src="../../../assets/icons/location.png"></div>
                        <div>
                            <p>Return location</p>
                            <p>5 Gonghang-ro, Yongdam 2 Dong Jeju-si Cheju, Jeju-do</p>
                            <p>690-042 South Korea</p>
                        </div>
                    </div>
                </div>

                <div class="trip-location-right">
                    <div class="buttons-container">
                        <div><button>Change trip</button></div>
                        <div><button>More add ons</button></div>
                        <div><button>Add afterhours</button></div>
                    </div>
                </div>
            </div>

            <div class="add-ons">
                <p class="black-text">Add ons</p>
                <div class="add-on">
                    <div><img alt="add on" src="../../../assets/icons/insurance.png"></div>
                    <span>Basic Insurance</span>
                </div>
                <div class="add-on">
                    <div><img alt="add on" src="../../../assets/icons/stroller.png"></div>
                    <span>Baby Stroller</span>
                </div>
                <div class="add-on">
                    <div><img alt="add on" src="../../../assets/icons/aditional-driver.png"></div>
                    <span>FREE Additional Driver</span>
                </div>
            </div>
        </div>

        <div class="trip-receipt-section">
            <div class="trip-receipt-section-content">
                <div class="trip-receipt-section-content-left">
                    <p class="grey-text">TRIP RECEIPT</p>
                    <p class="black-text">Trip price</p>
                    <p class="price">$189.0 <span>USD</span></p>
                    <p class="price-info">3 days | $50.0 price per day</p>
                    <p class="black-text total-extras">Total Extras</p>
                    <p class="orange-text">Add ons | Afterhours | Insurance</p>
                    <p class="price">$00.0 <span>USD</span></p>
                    <p class="black-text total-extras">Discount coupon</p>
                    <p class="orange-text">15% discount</p>
                    <p class="price">$00.0 <span>USD</span></p>
                </div>

                <div class="trip-receipt-section-content-right">
                    <div class="total-price">
                        <p>Total rental car</p>
                        <h1>$189.0</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="booked-trip-info-container">
        <h1 class="booked-trip-info-title">Thank you for ordering with Tamra</h1>
        <p class="booked-trip-info-subtitle">Your booking has been confirmed. Please start the self pick-up process by uploading the following documents <a href="#">here.</a></p>
        <p class="grey-text">LICENSE CLASS</p>

        <div class="article-section">
            <p class="article-section-title">International Drivers Permit</p>
            <p class="article-section-subtitle">Information Page that shows your picture and the issue date of the IDP</p>
            <p class="article-section-text">Please check your IDP’s validity before coming. Most countries only offer one year validity from the date of issue. Please do not attempt to alter or tamper with the validity of your license. We will reject you on site! If you aren’t sure what documents you need please see out blog article “Driving in Korea: What Documents are needed?”</p>

            <div class="article-link"><a href="#">See the article</a></div>
        </div>

        <div class="article-section">
            <p class="article-section-title">Passport/ Korean ARC Card</p>
            <p class="article-section-text">If you live in South Korea and plan on using your Korean license, please upload your ARC Card under “Residence Permit”. If you plan on using your international drivers permit then please upload your passport. For USFK service members please upload your passport - not your military ID.</p>

            <div class="article-link"><a href="#">See the article</a></div>
        </div>

        <div class="article-section">
            <p class="article-section-title">Residence Permit</p>
            <p class="article-section-subtitle">If IDP and Passport are not issued by the same country</p>
            <p class="article-section-text">If your IDP has been issued to you by a country that differs from your country’s passport, then please upload your residence permit from that country. If you are not sure please read at our blog article <a href="#">here.</a>) We do not accept student visas, business visas, etc. Foreigners residing in Australia please upload your Australian local license and email us a copy of your VEVO visa.</p>

            <div class="article-link"><a href="#">See the article</a></div>
        </div>

        <div class="article-section">
            <p class="article-section-title">Korean/USFK License</p>
            <p class="article-section-text">Please check that your Korean license has been effective for over a year before coming. We understand some expats need to switch/surrender their home country license to get a Korean one. If you have a picture or copy of your home country license (still valid) please bring a copy with you during your pick-up time. For drivers that hold USFK licenses, please make sure you have an orange USFK license - it’s the only one we accept.</p>
        </div>

        <div class="article-section-bottom-info">
            <p>When you arrive please you will be asked to fill out a credit card authorization form (for speeding tickets, charges for smoking or vomiting in our cars). So please have a proper credit card handy (Mastercard, VISA, American Express). We do not accept Union Pay cards from mainland China or pre-paid credit cards. If you don’t have a credit card please contact us immediately with your order number via email or WhatsApp.</p>
        </div>

        <div class="faq-info-section">
            <p class="faq-info-section-title">Please do read the <a href="#">FAQ section</a> and <a href="#">Jeju Car Blog</a> of our website before picking-up your car to learn about how to:</p>
            <div class="learn-about">
                <p>- Find our shuttle bus when you arrive at Jeju International Airport <a href="#">here.</a></p>
                <p>- Our Insurance policies and what to do if you get into an accident before hand.</p>
                <p>- The proper documentation needed when picking up your car rental.</p>
                <p>- If you do not inform us that you will be arriving late your rental will be cancelled and we will move your booking the following mornings at 08:00AM. If you do not show up within an hour afterwards, or do not attempt to contact us, we will provide you with a partial refund depending on the season.</p>

                <div class="naver-maps">
                    <img alt="map" src="../../../assets/icons/gps-map.png">
                    <p>We recommend our customers download <a href="#">Naver Maps</a> on their phone before coming. Once downloaded, go to Settings > Navigation Settings > Data Saver Settings and download “Jeju Island Maps”; you can purchase Korean Sim cards and portable routers at Jeju International Airport by Gate 5.</p>
                </div>
            </div>
        </div>

        <div class="cancellation-policy-section">
            <h1 class="cancellation-policy-section-title">Cancellation Policy</h1>
            <div class="cancellation-policy">
                <p class="cancellation-policy-title">Off season</p>
                <div class="cancellation-policy-text">
                    <p>– 50% refund under the following circumstances</p>
                    <p>– If the driver brings an unofficial/fraudulent international driver’s permit (IDP), or has a Korean license that is not effective for over a year. <a href="#">See our blog</a></p>
                    <p>– If the issuing country of your passport differs from your IDP and cannot show you have a residence permit card from that country <a href="#">See our blog</a></p>
                    <p>– If you do not show up during pick-up time and/or do not attempt to notify Tamra Rent A Car of your late arrival.</p>
                    <p>– If you do not have a valid credit card</p>
                    <p>– If you try to cancel after pick-up time.</p>
                    <p>– If you are underage. Must be 21 years or older with a years worth of driving experience, 26 years for some vehicles. We go by international age, not Korean.</p>
                </div>
            </div>

            <div class="cancellation-policy">
                <p class="cancellation-policy-title">Peak season</p>
                <div class="cancellation-policy-text">
                    <p>– If the driver brings an unofficial/fraudulent international driver’s permit (IDP), or has a Korean license that is not effective for over a year. <a>See our blog</a></p>
                    <p>– If the issuing country of your passport differs from your IDP and cannot show you have a residence permit card from that country <a>See our blog</a></p>
                    <p>– If you do not show up during pick-up time and/or do not attempt to notify Tamra Rent A Car of your late arrival.</p>
                    <p>– If you do not have a valid credit card</p>
                    <p>– If you try to cancel after pick-up time.</p>
                    <p>– If you are underage. Must be 21 years or older with a years worth of driving experience, 26 years for some vehicles. We go by international age, not Korean.</p>
                </div>
            </div>
        </div>

        <div class="afterhours-policy-section">
            <h1 class="afterhours-policy-section-title">Afterhours Pick-up</h1>
            <div class="afterhours-policy">
                <p>If you need after hour service pick-up there is a 15,000 KRW fee and you will need to:</p>
                <p>To make your self-driving vacation in Jeju go even smoother, we allow you to pick up your car from our agency’s parking lot after 20:00. However, if you choose this option, you must return your car during normal business hours (07:30–20:00) at our Tamra rental agency – not the airport. This is because we will need to conduct a full inspection of your vehicle.</p>
            </div>

            <div class="afterhours-policy">
                <p>If you want to use our after-hours pick-up service you will need to:</p>
                <p><b>1.</b> Purchase full insurance from Tamra Rent a Car, or if you are a member of the U.S. Armed Forces Korea and currently have USAA that covers you for car rentals in South Korea (please check your policy beforehand). Or you have your own car rental car insurance from your credit card company or travel insurance - please check with your insurance company beforehand. Some insurance companies require customers to buy car rental CDW’s beforehand in order to cover you in the event an accident occurs.</p>
                <p class="note">Please note that if you want to use your own insurance you will be responsible for 100% for all fees relating to the accident. We do not file claims on behalf of our customers via their insurance providers. Therefore, in the event of an accident, you will pay the necessary fees at Tamra and we will provide you with your contract and the necessary documentation to make a claim.</p>
                <p><b>2.</b> Provide us with a copy of your Passport, International Driving Permit and or a Korean License/ USFK License, or your Residence Permit (if differs from your IDP issuing country).</p>
                <p><b>3.</b> Fill out and sign a credit card authorization form and provide a photo of your credit card (side with card number and expiration date). Otherwise we cannot provide you with our after-hours pick-up service.</p>
                <p class="no-margin">Please note we do not allow any customer to drop off the car outside of normal business hours. We will charge you a $250USD fine for violating our rules. We need our car returned during normal business hours so we can ensure that it does not have any problems and has been brought back with the correct amount of fuel and its original state.</p>
                <p class="no-margin">When you pick-up your car, please take as many photos as you can before you take the car. We already have pictures of the car’s damage loaded into our system. In the event you get into an accident, we will use both ours and your pictures to compare photos.</p>
                <p class="no-margin">If you plan to extend your car rental period, please, do so at the time of pick-up to avoid delayed responses, insurance problems and late fees. Please contact us if you are going to be late. When you return the car, please, come to the counter to pay your late fees. Extra rental fees and insurance charges will apply. In addition, you might have to return to our car rental agency to switch cars if your car has been booked by another person ahead of time. Vehicle rentals and returns are only available during our working hours (7 days a week from 07:30 to 20:00).</p>
            </div>

            <p class="orange-text">IF YOU DON’T NOTIFY US ABOUT BEING LATE, A 50,000 KRW PENALTY FEE WILL BE CHARGED FOR EVERY EXTRA HOUR!</p>
        </div>

        <div class="useful-links-section">
            <h1 class="useful-links-title">Usefull links</h1>

            <div class="useful-link">
                <img alt="img" src="../../../assets/icons/diesel-icon.png">
                <p>To view your vehicle’s fuel pricing please see a complete list of our fleet’s pricing <a href="#">here.</a></p>
            </div>

            <div class="useful-link">
                <img alt="img" src="../../../assets/icons/shuttle-bus.png">
                <p>Walking directions to Tamra Rent A Car can be found <a href="#">here.</a></p>
            </div>

            <div class="useful-link">
                <img style="height: 32px; width: auto" alt="img" src="../../../assets/icons/walking-directions.png">
                <p>Walking directions to Tamra Rent A Car can be found <a href="#">here.</a></p>
            </div>

            <div class="useful-link" style="align-items: flex-start">
                <img alt="img" src="../../../assets/icons/insurance-policy.png">
                <p>If you want to purchase extra insurance to cover your excess and items we don’t cover, please purchase it from our partner company, rentcalcover.com. However, insurance from rentalcover.com only covers you if you have purchased our basic or full insurance CDW. To read more about rentalcover.com’s insurance policy please visit the following link:<br> <a href="https://www.rentalcover.com/help/about-your-cover/135" target="_blank">https://www.rentalcover.com/help/about-your-cover/135</a><br><br>To purchase comprehensive insurance from for your trip please visit the following link so that it’s registered under our company name.<br><br><a href="https://rc.xcvr.co/tamrarentintl" target="_blank">https://rc.xcvr.co/tamrarentintl</a></p>
            </div>

            <div class="useful-link">
                <img alt="img" src="../../../assets/icons/traffic-regulations.png">
                <p>For more information regarding international driving permits please click <a href="#">here.</a></p>
            </div>

            <div class="useful-link" style="align-items: flex-start;margin-top: 20px">
                <img alt="img" src="../../../assets/icons/gps-map.png">
                <p><b>Tamra Naver Maps Location</b><br>Tamra Rent Car 5 Gonghang-ro Jeju-si Jeju-do<br><br><a href="http://naver.me/xHCdjDWC" target="_blank">http://naver.me/xHCdjDWC</a></p>
            </div>

            <div class="useful-link" style="margin: 40px 0;border-left: 1px solid #D5D5D5;">
                <p style="margin-left: 40px">Tamra Rent-A-Car has a business WhatsApp for our customers. In case you did not receive our Whatsapp Message, please type in our phone number (+821067685427) Our social media account working hours are 08:00-20:00. Please do not call us, the line is only reserved for customer emergencies only such as an accident or if you break-down. If you have a question, please send us a message and we will respond promptly. Or send us an email at <a href="mailto:bookings@tamrarentacar.com">bookings@tamrarentacar.com</a></p>
            </div>
        </div>

        <div class="logo">
            <img alt="logo" src="../../../assets/logos/logo-korean.png">
        </div>
    </div>
</div>
