<div class="home-container">
    <div class="home-title">
        <h1>{{carCategory}}</h1>
        <span class="subtitle">Rental Options</span>
    </div>
    <div class="home-container-search-bar">
        <titan-search-bar></titan-search-bar>
    </div>
</div>

<div class="carousel-container" *ngIf="bySelectedCategoryData.length">
    <div class="carousel-header">
        <p>{{carCategory}} rental options</p>
    </div>

    <div class="category-carousel-container">
        <swiper *ngIf="byCategoryData.length" class="swiper-container"
                [grabCursor]= "true"
                [loop]="true"
                [navigation]="true"
                [autoHeight]="true"
                [slidesPerView]= "1"
                [breakpoints]="{
                        '1100': {
                          slidesPerView: 4
                         },
                        '768': {
                          slidesPerView: 3
                        }
                    }">
            <div class="swiper-wrapper timeline">
                <ng-template swiperSlide *ngFor="let category of bySelectedCategoryData">
                    <div class="swiper-content">
                        <div class="category-container">
                            <div class="divisor">
                                <img alt="divisor" src="../../../../assets/icons/divisor.png">
                            </div>
                            <div class="category-img">
                                <img alt="category" src="{{category.imageSrc}}">
                            </div>
                            <p>{{category.tdescription}}</p>
                        </div>
                    </div>
                </ng-template>
            </div>
        </swiper>
    </div>
</div>

<div class="divisor">
    <img alt="divisor" src="../../../../assets/icons/divisor.png">
</div>

<div class="carousel-container second-carousel">
    <div class="carousel-header">
        <p>Browse by category</p>
    </div>

    <div class="category-carousel-container">
        <swiper *ngIf="byCategoryData.length" class="swiper-container"
                [grabCursor]= "true"
                [loop]="true"
                [navigation]="true"
                [autoHeight]="true"
                [slidesPerView]= "1"
                [breakpoints]="{
                        '1100': {
                          slidesPerView: 4
                         },
                        '768': {
                          slidesPerView: 3
                        }
                    }">
            <div class="swiper-wrapper timeline">
                <ng-template swiperSlide *ngFor="let category of byCategoryData">
                    <div class="swiper-content" (click)="goToProductDetails(category.tdescription)">
                        <div class="category-container">
                            <div class="divisor">
                                <img alt="divisor" src="../../../../assets/icons/divisor.png">
                            </div>
                            <div class="category-img">
                                <img alt="category" src="{{category.imageSrc}}">
                            </div>
                            <p>{{category.tdescription}}</p>
                        </div>
                    </div>
                </ng-template>
            </div>
        </swiper>
    </div>
</div>

